.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid gray;
}

.header-logo {
  object-fit: contain;
  height: 35px;
}

.header-icon {
  padding: 10px;
}
